*, 
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}


.engagement-regular {
    font-family: "Engagement", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .londrina-outline-regular {
    font-family: "Londrina Outline", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

body {
font-family: "Montserrat", sans-sarif;
font-weight: 300;
font-style:normal;
background: #e5e2da;
}

h1 {
    font-weight: 300;
    
}

.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;

}

.logo {
  max-width: 150px;
  width: 30vw;
  object-fit:cover;
}

.fa-instagram {
  font-size: 30px;
  color: #E1306C; /* Instagram's pink color */
  transition: 0.3s;
}

.fa-instagram:hover {
  color: #C13584; /* Slightly darker pink */
}

.menu {
  display: flex;
  gap: 1rem;
}

.link {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
  
}

.menu {
  margin: 20px;
  font-size: 1rem;

}

.menu li {
  margin-bottom: 40px;
}

.hours {
  display: flex;
  margin: 20px;
  gap: 20px;
  
}

.specials {
  display: flex;
  margin: 20px;
  gap: 20px;
}

.specials li {
 margin-bottom: 30px;
}
